body {
  background: #FFF;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  body {
    font-size: 16px;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  body {
    font-size: 18px;
  }
}

h2, h3, h4, h5 {
  margin-bottom: 5px;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.15em;
}

p {
  font-size: 1em;
}

.site-footer {
  font-size: 0.8em;
  text-align: center;
}

.color-bar-1 {
  /* Indigo 800 */
  background: #283593;
}

.color-bar-2 {
  /* Indigo 500 */
  background: #3F51B5;
}

.color-bar-3 {
  /* Indigo 200 */
  background: #9FA8DA;
}

a {
  /* Indigo 500 */
  color: #3F51B5;
}
a:visited, a:focus {
  color: #B53F8C;
}
a:hover {
  color: #3FB568;
}

figure.highlight {
  background-color: #202025;
}
code {
  border: none;
  background-color: transparent;
}
.focus {
  font-size: 1.4em;
  font-style: italic;
}

.off-canvas-content ::-moz-selection, .off-canvas-content ::selection {
  /* Indigo 50 */
  color: #000000;
  background: #E8EAF6;
}

.nav-option {
  background: #283593;
  text-align: center;
  padding: 0px;
}
.nav-option a {
  display: block;
  padding: 2px 0px 3px 0px;
}

.nav-option a:hover, .mobile-nav-menu a:hover {
  background: #289350;
}

.footer-bar {
  padding: 1px 0px;
}

.topnav, .off-canvas {
  background: #283593;
}
.topnav a, .off-canvas a {
  color: #F5F5FF;
}

.top-bar {
  background: #000000;
  color: #F5F5FF;
  text-align: center;
}

.title-bar {
  background: #000000;
  color: #F5F5FF;
  text-align: left;
}

/* https://stackoverflow.com/a/39509165 */
.off-canvas-content ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.off-canvas-content ul li:before {
	content: "‣";
	position: absolute;
	left: 0;
}
.off-canvas-content ul li ul li:before {
	content: "•";
	position: absolute;
	left: 0;
}

/* Referenced from https://stackoverflow.com/a/12856368 */
.site-pre-footer {
  min-height: 100%;
  height: 100%;
  height: 100vh;
}

.site-footer {
  clear: both;
  position: relative;
  height: 13em;
  margin-top: -13em;
}

.site-footer, .site-footer > div {
  background: #EEE;
}

.resume-heading {
}

.resume-section {
  border-bottom: 1px solid;
  width: 100%;
  display: block;
}

.resume-subsection div p, .resume-project-name p {
  margin-bottom: 0px;
}

.resume-subsection div {
  padding: 0px;
}

.resume-company-location-dates p, .resume-project-date p {
  margin-bottom: 0.3em;
}

.resume-left, .resume-right, .resume-project-name, .resume-project-date {
  padding-left: 0px;
}

.resume-project-name, .resume-company-name {
  font-weight: bold;
}

.main-content {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.main-content-resume {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

tbody {
  border: none;
}
