body {
  font-size: 16px;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.15em;
}

/*.color-bar-1 {
  background-color: #40C4FF;
}
*/

.color-bar-1 {
/* Indigo 800 */
  background-color: #283593;
}

/*
.color-bar-2 {
  background-color: #64FFDA;
}
*/

.color-bar-2 {
/* Indigo 500 */
  background-color: #3F51B5;
}

/*
.color-bar-3 {
  background-color: #FFF59D;
}
*/

.color-bar-3 {
/* Indigo #200 */
  background-color: #9FA8DA;
} 

/*
a {
  color: #00B0FF;
}
a:visited {
  color: #7C44DF;
}
a:hover {
  color: #80D8FF;
}
*/

a {
/* Indigo A200 */
  color: #536DFE;
}
a:visited, a:focus {
/* Indigo A700 */
  color: #304FFE;
}
a:hover {
/* Teal A700 */
  color: #00BFA5;
}
figure.highlight {
  background-color: #202025;
}
code {
  border: none;
  background-color: transparent;
}
.focus {
  font-size: 1.4em;
  font-style: italic;
}
::-moz-selection {
    /* Indigo 50 */
    color: #000000;
    background: #E8EAF6;
}
::selection {
    color: #000000; 
    background: #E8EAF6;
}
