body {
  background: #FFF;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  body {
    font-size: 16px;
  }
  .main-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  .topnav-wrapper {
    display: none;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  body {
    font-size: 18px;
  }
  .topnav-wrapper {
    margin-top: 3px;
    margin-right: 12px;
  }
  .topnav-burger {
    display: none;
  }
}

h2, h3, h4 {
  margin-bottom: 5px;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.55em;
}
h4 {
  font-size: 1.45em;
}
p {
  font-size: 1em;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}
.site-title {
  flex: auto;
  margin-bottom: 0;
  text-align: left;
}
.nav-option {
  flex: none;
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 1.1em;
}

.topnav-burger {
  margin: 8px;
  margin-top: 6px;
  transition: none;
  -webkit-transition: none;
}
.topnav-burger:hover {
  color: #B7B8CC;
}
.topnav-burger:focus {
  outline: 1.5px solid white;
  outline-offset: 8px;
  border-radius: 1px;
}
.off-canvas-title {
  background: #0A0D33;
  color: #E6E6F2;
}
ul.off-canvas-list {
  margin-top: 1rem;
  margin-left: 1rem;
  list-style-type: none;
}
ul.off-canvas-list li {
  margin-bottom: 8px;
}
.off-canvas {
  background: #0A0D33;
}
.close-button {
  color: #E6E6F2;
}
.close-button:hover, .close-button:focus {
  color: #B7B8CC;
}
.close-button:focus {
  outline: 1.5px solid #B7B8CC;
  outline-offset: 2px;
  border-radius: 1px;
}

blockquote, blockquote p {
  /* Used in articles such as 333LP part iii */
  color: #444;
}

.site-footer {
  font-size: 0.8em;
  text-align: center;
}

.site-footer a {
  text-decoration: underline;

  /* Indigo 500 */
  color: #3F51B5;
}

a {
  /* Indigo 400 */
  color: #5C6BC0;
}

a:visited {
  /* Red triad to Indigo 500 */
  color: #B53F51;
}
a:hover, a:focus {
  /* Green triad to Indigo 500 */
  color: #51B53F;
}
a:focus {
  outline: 1.5px black solid;
  outline-offset: 1px;
  border-radius: 1px;
}

.square-link {
  /* Used for the footer icons */
  padding: 6px 1px 10px 1px;
}

figure.highlight {
  background-color: #202025;
}
figcaption {
  font-size: 0.92em;
}
code {
  /* border: none; */
  background-color: transparent;
}
.focus {
  font-size: 1.4em;
  font-style: italic;
}

.footer-bar {
  padding: 1px 0px;
}

.top-bar {
  background: #0A0D33;
  color: #E6E6F2;
  text-align: left;
  display: flex;
}
.top-bar a, .off-canvas-list a {
  color: #E6E6F2;
}
.top-bar a:hover, .top-bar a:focus,
.off-canvas-list a:hover, .off-canvas-list a:focus {
  color: #B7B8CC;
}
.top-bar a:focus, .off-canvas-list a:focus {
  outline: 1.5px solid white;
  outline-offset: 3px;
  border-radius: 1px;
}

/* https://stackoverflow.com/a/39509165 */
.off-canvas-content ul {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}
.off-canvas-content ul li:before {
  content: "‣";
  position: absolute;
  left: 0;
}
.off-canvas-content ul li ul li:before {
  content: "•";
  position: absolute;
  left: 0;
}

/* Referenced from https://stackoverflow.com/a/12856368 */
.site-pre-footer {
  min-height: 100%;
  height: 100%;
  height: 100vh;
}
.site-footer {
  clear: both;
  position: relative;
  height: 4.2em;
  margin-top: -4.2em;
}
.site-footer, .site-footer div {
  background: #EEE;
}

.main-content {
  width: 100%;
  margin-top: 5px;
  padding-left: 20%;
  padding-right: 20%;
  word-break: break-word;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .main-content {
    padding: 0;
  }
}

tbody {
  border: none;
}

.chicago {
  text-indent: -3em;
  padding-left: 3em;
}

.katex-display {
  overflow-x: auto;
}

pre {
  margin-bottom: 16px;
  padding: 8px 16px;
}
pre > code {
  border: none;
  padding: 0;
}

/* Override low-contrast colours */
.highlight .nb {
  color: #000080;
}
